<ion-view>
  <ion-nav-title>{{pokemon.name}}</ion-nav-title>
  <ion-content class="padding">
    <div class="center">
      <img ng-src="{{pokemon.sprite()}}" class="pokemonSpriteDetail">
    <table>
      <tbody>
        <tr>
          <th>height</th>
          <td>{{pokemon.height}}</td>
        </tr>
        <tr>
          <th>weight</th>
          <td>{{pokemon.weight}}</td>
        </tr>
        <tr>
          <th>types</th>
          <td>
            <div ng-repeat="type in pokemon.types" class="types">
              <div>{{type}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <th>stats</th>
          <td>
            <table class="stats">
              <tbody>
                <tr ng-repeat="stat in pokemon.stats" class="stat">
                  <td>{{stat.name}}</td>
                  <td class="right">{{stat.base}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <th>seen</th>
          <td>{{pokemon.seen}}</td>
        </tr>
        <tr>
          <th>caught</th>
          <td>{{pokemon.caught}}</td>
        </tr>
        <tr>
          <th>evolution chain</th>
          <td class="evolution">
            <div ng-repeat="c1 in pokemon.chain">
              <div class="t1">
                <img ng-src="img/pokemon/{{c1.speciesId}}.png" class="pokemonSpriteEvolutiont1 pokeimage">
                <div class="t2" ng-if="!!c1.evolvesTo.length">
                  <div ng-repeat="c2 in c1.evolvesTo" class="evolution">

                    <img ng-src="img/pokemon/{{c2.speciesId}}.png" class="pokemonSpriteEvolutiont2 pokeimage">

                    <div class="t3" ng-if="!!c2.evolvesTo.length">
                      <div ng-repeat="c3 in c2.evolvesTo" class="evolution">

                        <img ng-src="img/pokemon/{{c3.speciesId}}.png" class="pokemonSpriteEvolutiont2 pokeimage">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </ion-content>
</ion-view>