<ion-view view-title="Map">
  <ion-content id="outer" ng-controller="MapCtrl">
    <!-- HUD Overlay over map -->
    <div class="hud">
      <div id="distance">{{player.distanceWalked | number:0}}m walked</div>
      <div id="nextPoke">Next pokémon in {{player.nextPoke() | number:0}}m</div>
      <div id="button1"></div>
      <div id="button2"></div>
    </div>
    <div id="button3" ng-click="triggerPokeSpawn()"></div>
    <!-- map -->
    <div id="map"></div>

    <!-- canvas for pokemon capturing -->
    <canvas id="canvas">You dont support the canvas...Thus it is not possible to catch pokemon...</canvas>


  </ion-content>
</ion-view>