<ion-view view-title="Pokédex">
  <ion-content ng-controller="DexCtrl">
    <div class="row" ng-repeat="poke in pokemon" ng-if="$index % 4 === 0">
      <div class="col col-25" ng-if="$index < pokemon.length" ng-href="#/tab/dex/{{pokemon[$index].id}}">
        <img ion-img-cache ng-src="{{pokemon[$index].image()}}" width="100%" alt="{{pokemon[$index].name}}" />
      </div>
      <div class="col col-25" ng-if="$index + 1 < pokemon.length"  ng-href="#/tab/dex/{{pokemon[$index + 1].id}}">
        <img ion-img-cache ng-src="{{pokemon[$index + 1].image()}}" width="100%" alt="{{pokemon[$index + 1].name}}" />
      </div>
      <div class="col col-25" ng-if="$index + 2 < pokemon.length"  ng-href="#/tab/dex/{{pokemon[$index + 2].id}}">
        <img ion-img-cache ng-src="{{pokemon[$index + 2].image()}}" width="100%" alt="{{pokemon[$index + 2].name}}"/>
      </div>
      <div class="col col-25" ng-if="$index + 3 < pokemon.length"  ng-href="#/tab/dex/{{pokemon[$index + 3].id}}" >
        <img ion-img-cache ng-src="{{pokemon[$index + 3].image()}}" width="100%" alt="{{pokemon[$index + 3].name}}"/>
      </div>
    </div>

  </ion-content>
</ion-view>