<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive iconTabs">

  <!-- Map Tab -->
  <ion-tab title="Map" icon-off="pokeball" icon-on="pokeball" href="#/tab/map">
    <ion-nav-view name="map"></ion-nav-view>
  </ion-tab>

  <!-- Pokedex Tab -->
  <ion-tab title="Pokédex" icon-off="pokedex" icon-on="pokedex" href="#/tab/dex">
    <ion-nav-view name="dex"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

<!--https://icons8.com/web-app/34343/pokedex-->
</ion-tabs>
